/*CSS Basico e Global que edita items principais 
    comuns a varias paginas: button Like/Dislike, Piu boxes....*/

 //para esconder a barra de srcoll
 ::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

    
    .PiuPiuwer_title{
        position: absolute;
        font-size: 2.65em;
        font-family: 'PT Serif', serif;
        font-weight: bold;
        top: 7px;   
    }
    
    .PiuPiuwer_title::before{
        content: " ";
    
        width: 0.8em;
        height: 0.8em;     
    
        background-image: url(../assets/icon/patoicon.png);
        background-size: 0.5em;
        background-repeat: no-repeat;
        top: -10px;
    
        font-size: 2.65em;
        font-family: 'PT Serif', serif;
        font-weight: bold;
    
    }

    .menuBar{
        position: relative;
        padding: 1em 0em 1em 0em;
        align-content: center;
        position: fixed;
        
    }
     


    
    //Contador de carateres
    .contador{       /*SPAN contador de caracteres PIU*/
        position: absolute;
        font-weight: 500;
        color:  rgb(163, 163, 163);
        font-size: 1em;
        font-family: inherit;
        right:2%; 
        top: 95px;
    }
    
            
        /* BOTOES (LIKE, DISLIKE, EDIT) E SEUS CONTADORES*/
        .Piu_delete_button{
            position: absolute;
    
            top: 5px;
            right: 8px;
            border: 0.5px solid transparent;
            
            width: 2.5em;
            height: 2.5em;
            background-size: 2em;
            
            background-image: url(../assets/icon/delete.png);
            border: 1px solid transparent;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
        }
    
        .Piu_dislike_button{
            position: absolute;
            bottom: 1em;   
            background-image: url(../assets/icon/dislike.png);   
            background-position: center;
            background-size: 2em;   
            background-repeat: no-repeat;
            border-radius: 100px; 
            width: 2em;
            height: 2em;
        }
    
        .Piu_like_button{
            position: absolute;
            bottom: 0.6em;
            left: 4.4em;
            background-image: url(../assets/icon/like.png);  
            background-position: center;
            background-size: 1.7em;   
            background-repeat: no-repeat;
            border-radius: 100px; 
            width: 2em;
            height: 2em;
        }
    
        .Piu_edit_button{
            position: absolute;
            bottom: 10px;
            right: 12px;
    
            width: 2em;
            height: 2em;
            background-size: 2em;
            
            background-image: url(../assets/icon/edit.png);
            border: 1px solid transparent;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
        }
    
        .Piu_highlight_button{
            position: absolute;
            bottom: 9px;
            left: 275px;
    
            width: 2.2em;
            height: 2.2em;
            background-size: 2.2em;
    
            border-radius: 100px;
            
            background-image: url(../assets/icon/highlight.png);
            border: 1px solid transparent;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
        }
    
      
    
.basics_Piu{            /*ARTICLE(caixa) que guarda cada Piu*/

    resize: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    width: 100%;
    height: 4em;
    
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;

    
}
        
    /*BOTÃO DE ENVIAR PIU -*/
    .submit_piu{
        
        text-indent: -999px;
        left: 84%;
        top: -15px;
    
        background-image: url(../assets/icon/sendicon.png);
        background-color:  rgb(21, 206, 98);
        background-size: 1.9em;
        background-position: center;
    
        border-radius:100% ;
        width: 2.5em;
        height: 2.5em;
    }

//dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd SIN VER AUN                     55555555555555555555
    /*-------------Profile photo*/
    .profile_photo{
        position: absolute;
        width:250px;
        height: 250px;
        border: 1px solid  rgb(190, 190, 190);
    }
      
    
    /*EDITAR*/
    .Piu_edit{
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        
        width: 100%;
        height: 100%;
        top:0px;
        left: 0px;
        background-color: #e9e9e949;
        border: 1px solid transparent;
        border-radius: 5px; 
    }
 

    //ALERTS E LOAGIN
    .loading{
        padding: 3.5em 4em  3.5em 4em;
        top: -40%;
        left: -10%;
        background-image: url('../assets/icon/duck.gif');
        background-position: center;
        background-size: 16em;
        text-indent: -1000px;
        position: absolute;
        border-radius: 100px;
        opacity: 0.85;
    }

    .alert{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    